body {
    margin: 0;
    font-family: 'Segoe UI', sans-serif;
    background: #0f172a;
    color: white;
}

/* LOGIN */

.auth-wrapper {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.auth-card {
    background: rgba(255,255,255,0.05);
    backdrop-filter: blur(20px);
    padding: 40px;
    border-radius: 16px;
    width: 350px;
    text-align: center;
    box-shadow: 0 0 40px rgba(0,0,0,0.4);
}

.logo {
    font-size: 26px;
    color: #f7931a;
    font-weight: bold;
}

.subtitle {
    font-size: 14px;
    opacity: 0.7;
}

input {
    width: 100%;
    padding: 12px;
    margin: 12px 0;
    border-radius: 8px;
    border: none;
    background: #1e293b;
    color: white;
}

.primary-btn {
    width: 100%;
    padding: 12px;
    border-radius: 8px;
    border: none;
    background: linear-gradient(90deg, #f7931a, #ffae42);
    color: black;
    font-weight: bold;
    cursor: pointer;
    transition: 0.3s;
}

.primary-btn:hover {
    transform: scale(1.05);
}

/* DASHBOARD LAYOUT */

.layout {
    display: flex;
}

.sidebar {
    width: 220px;
    background: #111827;
    height: 100vh;
    padding: 20px;
}

.sidebar ul {
    list-style: none;
    padding: 0;
}

.sidebar li {
    padding: 12px 0;
    cursor: pointer;
    opacity: 0.7;
}

.sidebar li.active,
.sidebar li:hover {
    opacity: 1;
    color: #f7931a;
}

.main-content {
    flex: 1;
    padding: 30px;
}

.top-bar {
    display: flex;
    justify-content: space-between;
    margin-bottom: 30px;
}

.cards {
    display: flex;
    gap: 20px;
    flex-wrap: wrap;
}

.premium-card {
    background: rgba(255,255,255,0.05);
    backdrop-filter: blur(15px);
    padding: 20px;
    border-radius: 16px;
    width: 280px;
    box-shadow: 0 0 20px rgba(0,0,0,0.4);
}

.light-mode {
    background: #f3f4f6;
    color: black;
}
.premium-card {
    transition: 0.3s;
}

.premium-card:hover {
    transform: translateY(-8px);
    box-shadow: 0 0 25px rgba(247,147,26,0.5);
}

select {
    width: 100%;
    padding: 10px;
    border-radius: 8px;
    background: #1e293b;
    color: white;
    border: none;
    margin-bottom: 10px;
}